    <div class="backdrop"></div>
    <header class="main-header">
        <button id="side-menu-toggle">Menu</button>
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <% if(isAuth) { %>
                    <li class="main-header__item">
                        <a href="/">Dashboard</a>

                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/users/getUserTask' ? 'active' : '' %>" href="/users/getUserTask">Task List</a>
                    </li>
                <li class="main-header__item">
                    <a class="<%= path === '/users/logout' ? 'active' : '' %>" href="/users/logout">Logout</a>
                </li>

                <% } else {%>
                    <li class="main-header__item">
                        <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">signup</a>
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">login</a>
                    </li>
                <% } %>
        
            </ul>
        </nav>
    </header>

    <nav class="mobile-nav">
            <ul class="mobile-nav__item-list">
                <% if(isAuth) { %>
                    <li class="mobile-nav__item">
                        <a href="/">Dashboard</a>
                        </li>
                    <li class="mobile-nav__item">
                        <a class="<%= path === '/users/logout' ? 'active' : '' %>" href="/users/logout">Logout</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a class="<%= path === '/users/getUserTask' ? 'active' : '' %>" href="/users/getUserTask">Task List</a>
                    </li>
                <% } else {%>
                    <li class="mobile-nav__item">
                        <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">signup</a>
                    </li>
                    <li class="mobile-nav__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">login</a>
                    </li>
                    <% } %>
                </ul>
    </nav>